@model MamaJanePizza.Models.PizzaModel

@{
    ViewData["Title"] = "Order Details";
}

<div>
    <h4>Payment Information</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Crust)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Crust)
        </dd>
        <dt>
            Sauce:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfSauce)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            Cheese:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeOfCheese)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Toppings)
        </dt>
        @foreach (var top in Model.Toppings)
        {
            <dd>
                @Html.DisplayFor(model => top)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
    </div>
<div class="container">
    <form action='@Url.Action("Checkout","Order")' method="post">
        <div class="row">
            <div class="col-md-4"><label class="control-label " for="firstName">First name:</label></div>
            <div class="col-md-1"><label class="control-label " for="middleName">MI:</label></div>
            <div class="col-md-4"><label class="control-label " for="lastName">Last name:</label></div>
        </div>
        <div class="row">
            <div class="col-md-4"><input class="form-control" id="firstName" name="firstName" type="text" /></div>
            <div class="col-md-1"><input class="form-control" id="middleName" name="middleName" type="text" /></div>
            <div class="col-md-4"><input class="form-control" id="lastName" name="lastName" type="text" /></div>
        </div>
        <div class="row">
            <div class="col-md-6"><label class="control-label " for="telephone">Telephone #:</label></div>
        </div>
        <div class="row">
            <div class="col-md-6"><input class="form-control" id="tel" name="tel" type="text" /></div>
        </div>
        <div class="row">
            <div class="col-md-6"><label class="control-label " for="email">Email:</label></div>
        </div>
        <div class="row">
            <div class="col-md-6"><input class="form-control" id="email" name="email" type="text" /></div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <label class="control-label requiredField" for="ccNum">
                    Credit card #:
                    <span class="asteriskField">
                        *
                    </span>
                </label>
            </div>
            <div class="col-md-3">
                <label class="control-label requiredField" for="date">
                    Exp. Date:
                    <span class="asteriskField">
                        *
                    </span>
                </label>
            </div>
            <div class="col-md-2">
                <label class="control-label requiredField" for="cvv">
                    CVV:
                    <span class="asteriskField">
                        *
                    </span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7"><input class="form-control" id="ccNum" name="ccNum" type="text" /></div>
            <div class="col-md-3"><input class="form-control" id="date" name="date" placeholder="MM/YYYY" type="text" /></div>
            <div class="col-md-2"><input class="form-control" id="cvv" name="cvv" type="text" /></div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                <br />
                <button class="btn btn-primary " name="submit" type="submit">
                    Submit order
                </button>
            </div>
        </div>
    </form>
</div>
<div>
     <a asp-action="Index"></a>
</div>
